@import  url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


.bg-1c1c1c{
    background-color: #1c1c1c;
}
.bg-dcdcdc{
    background-color: #dcdcdc;
}

p{
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3 h4, h5,h6, summary{
   font-family: "Raleway", sans-serif;
}
.nav-containe {
    background-color: #1c1c1c; /* Color de fondo */
    padding: 1rem; /* Espaciado */
    z-index: 10; /* Asegúrate de que esté encima de otros elementos */
    position: sticky; /* Hace que el nav se quede fijo en la parte superior */
    top: 0; /* Posición en la parte superior */
}